<h1 class="small-margin">Code snippets</h1>
{{>snippetsmenu}}
{{#if viewData.snippets.length }}
{{#each viewData.snippets}}
<div class="input-bg">
    <div id="created-at">Created: {{this.createdAt}}</div>
  <textarea name="snippet" rows="20" cols="60" readonly>{{this.snippet}}</textarea>
  <br><br>
  <a href="/snippets/{{this.id}}/edit" class="wannabe-button">Edit</a>
  <a href="/snippets/{{this.id}}/delete" class="wannabe-button">Delete</a>
</form>
</div>
<br>
{{/each}}
{{else}}
<div class="input-bg">
  <textarea name="snippet" rows="20" cols="60" readonly>There are no code snippets to display</textarea>
  <br><br>
  <a href="#" class="wannabe-button">Edit</a>
  <a href="#" class="wannabe-button">Delete</a>
</form>
</div>
{{/if}}